@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
}

:root {
  --terminal-orange: #FFA500;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background: black;
  font-family: 'VT323', monospace;
}

#root {
  width: 100%;
  height: 100vh;
}
